<div class="container-fluid bg-primary text-white pt-4 pb-5 d-none d-lg-flex">
    <div class="container pb-2">
        <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex">
                <i class="bi bi-search-heart-fill"></i>
                <div class="ms-3">
                    <h5 class="text-white mb-0">Diagnose A Heart Now</h5>
                    <span>Detect Early , Treat Early</span>
                </div>
            </div>
            <a href="index.html" class="h1 text-white mb-0">Dr.<span class="text-dark">Klinik</span></a>
            <div class="d-flex">
                <i class="bi bi-alexa"></i>
                <div class="ms-3">
                    <h5 class="text-white mb-0">Your Doctor Personal Assistant</h5>
                    <span>Collaborating with doctors for early diagnosis</span>
                </div>=
            </div>
        </div>
    </div>
</div>

<div class="container-fluid sticky-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-white py-lg-0 px-lg-3">
            <a href="index.html" class="navbar-brand d-lg-none">
                <h1 class="text-primary m-0">Dr.<span class="text-dark">Klinik</span></h1>
            </a>
            <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="/" class="nav-item nav-link active">Home</a>
                    <a href="about" class="nav-item nav-link">About</a>
                    <a href="services-rendered" class="nav-item nav-link">Services</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu bg-light m-0">
                            <a href="features-add" class="dropdown-item">Features</a>
                            <a href="ourteam" class="dropdown-item">Our Team</a>
                            <a href="testweb" class="dropdown-item">Testimonial</a>
                            <a href="appoinment.html" class="dropdown-item">Appoinment</a>
                            <a href="404.html" class="dropdown-item">404 Page</a>
                        </div>
                    </div>
                    <a class="btn btn-primary my-3 nav-item" type="" href="login-user" >Login/Signup</a>
                </div>
                <div class="ms-auto d-none d-lg-flex">
                    <a class="btn btn-sm-square btn-primary ms-2" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-sm-square btn-primary ms-2" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-sm-square btn-primary ms-2" href=""><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-sm-square btn-primary ms-2" href=""><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </nav>
    </div>
</div>



@code {
  
}
